#### import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline
random.seed(42)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_file = pd.read_csv("C://Users//mushraf//Downloads//ab_data.csv")
df_file.head(10)

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1
5   936923  2017-01-10 15:20:49.083499    control     old_page          0
6   679687  2017-01-19 03:26:46.940749  treatment     new_page          1
7   719014  2017-01-17 01:48:29.539573    control     old_page          0
8   817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9   839785  2017-01-15 18:11:06.610965  treatment     new_page          1

In [4]:
df_file.shape[0]

294478

In [5]:
len(df_file.user_id.unique())

290584

In [6]:
converted = df_file.converted.value_counts()
print("Proportion of converted:" ,{converted[1] / (converted[0] + converted[1])})

Proportion of converted: {0.11965919355605512}

In [7]:
first = df_file.query('group=="treatment" & landing_page!="new_page"')
second = df_file.query('landing_page=="new_page" & group!="treatment"')
len(first) + len(second)

3893

In [8]:
pd.isna(first).count()

user_id         1965
timestamp       1965
group           1965
landing_page    1965
converted       1965
dtype: int64

In [9]:
pd.isna(second).count()

user_id         1928
timestamp       1928
group           1928
landing_page    1928
converted       1928
dtype: int64

In [10]:
df2 = first.copy()
df2._append(second)
df2.head(5)

     user_id                   timestamp      group landing_page  converted
308   857184  2017-01-20 07:34:59.832626  treatment     old_page          0
327   686623  2017-01-09 14:26:40.734775  treatment     old_page          0
357   856078  2017-01-12 12:29:30.354835  treatment     old_page          0
685   666385  2017-01-23 08:11:54.823806  treatment     old_page          0
713   748761  2017-01-10 15:47:44.445196  treatment     old_page          0

In [11]:
df2 = df2._append(second)

In [12]:
len(df2)

3893

In [13]:
#putting all BAD ROWS INTO DF2
#MAKING COPY TO KEEP DF2 INTACT

In [14]:
df_mess = df2.copy()

In [15]:
df_mess.head(5)

     user_id                   timestamp      group landing_page  converted
308   857184  2017-01-20 07:34:59.832626  treatment     old_page          0
327   686623  2017-01-09 14:26:40.734775  treatment     old_page          0
357   856078  2017-01-12 12:29:30.354835  treatment     old_page          0
685   666385  2017-01-23 08:11:54.823806  treatment     old_page          0
713   748761  2017-01-10 15:47:44.445196  treatment     old_page          0

In [16]:
#removing the rows tha match df_mess

df2 =pd.concat([df_file,df_mess,df_mess]).drop_duplicates( keep = False)
df2.head(5)

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [17]:
len(df2)

290585

In [18]:
# Double Check all of the correct rows were removed - this should be 0
df2[((df2['group'] == 'treatment') == (df2['landing_page'] == 'new_page')) == False].shape[0]

0

In [19]:
# unique users in df2

len(df2.user_id.unique())

290584

In [20]:
## checking duplicated repeating user
df2_dup = df2[df2.user_id.duplicated()]
df2_dup

      user_id                   timestamp      group landing_page  converted
2893   773192  2017-01-14 02:55:59.590927  treatment     new_page          0

In [21]:
df2[df2.user_id == 773192]  ## twice in 1899 and  2893

      user_id                   timestamp      group landing_page  converted
1899   773192  2017-01-09 05:37:58.781806  treatment     new_page          0
2893   773192  2017-01-14 02:55:59.590927  treatment     new_page          0

In [22]:
# dropping and checking
df2.drop(1899, inplace=True)
df2[df2.user_id == 773192]

      user_id                   timestamp      group landing_page  converted
2893   773192  2017-01-14 02:55:59.590927  treatment     new_page          0

In [23]:
#probability of an individual converting regardless of the page they receive

In [24]:
#succesful conversion by individual
df2_conv = df2[df2.converted==1]

In [25]:
#record figures

all_convert = len(df2_conv)
all_convert

34753

In [26]:
# how many total transactions
all_peeps = len(df2)
all_peeps

290584

In [27]:
# Probability of conversion regardless of page they receive
all_convert / all_peeps

0.11959708724499628

In [28]:
#ALL CONTROL ROWS

df2_all_control = df2[df2.group == 'control']
all_control = len(df2_all_control)
all_control

145274

In [29]:
# get all control rows that converted
df2_control_conv = df2_all_control[df2_all_control.converted == 1]
len(df2_control_conv)

17489

In [30]:
# percentage of control transactions that converted
df2.query('group == "control"')['converted'].mean()

0.1203863045004612

In [31]:
# percentage of treatment transactions that converted
df2.query('group == "treatment"')['converted'].mean()

0.11880806551510564

In [32]:
# probability that an individual received the new page?

len(df2[df2.landing_page == 'new_page']) / all_peeps

0.5000619442226688

In [33]:
#Considering the results from parts  above, there is NOT sufficient evidents to conclude that the new treatment page leads to more conversions.

In [34]:
## PARTII - AB TESTING

In [35]:
# consider you need to make the decision just based on all the data provided. If you want to assume that the old page is better unless the new page proves to be definitely better at a Type I error rate of 5%, what should your null and alternative hypotheses be? You can state your hypothesis in terms of words or in terms of  and , which are the converted rates for the old and new pages.

#Null: uP_new - uP_old <= 0

#ALT: uP_new - uP_old > 0

In [36]:
#Assume under the null hypothesis, P_new and P_old both have "true" success rates equal to the converted success rate regardless of page - that is P_new and P_old are equal. Furthermore, assume they are equal to the converted rate in ab_data.csv regardless of the page.

In [37]:
#conversion rate for p_new under the null

p_new = df2.converted.mean()
p_new

0.11959708724499628

In [38]:
#conversion rate for  under the null
p_old = df2.converted.mean()
p_old

0.11959708724499628

In [39]:
p_new - p_old

0.0

In [40]:
#  n_new number of individuals in the treatment group?

n_new = len(df2[df2.group == 'treatment'])
n_new

145310

In [41]:
# n_old the number of individuals in the treatment group?

n_old= len(df2[df2.group == 'control'])
n_old

145274

In [42]:
#Simulate n_new transactions with a conversion rate of  p_new under the null. Store these n_new 1's and 0's in new_page_converted
new_page_converted = []
new_page_converted = np.random.choice([0,1],n_new,[1-p_new,p_new])

In [43]:
# Simulate n_old transactions with a conversion rate of p_old under the null. Store these n_old 1's and 0's in old_page_converted.

old_page_converted = []
old_page_converted = np.random.choice([0,1],n_old,[1-p_old,p_old])

In [44]:
#p_new-p_old for your simulated values from above (-2)
#new_page_converted.mean() - old_page_converted.mean()
obs_diff = np.mean(new_page_converted) - np.mean(old_page_converted)
obs_diff

0.00024033057755112885

In [45]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
#mpl.style.use('ggplot')
%matplotlib inline

In [46]:
#Create 10,000  p new-p old values using the same simulation process you used in parts (a) through (g) above. Store all 10,000 values in a NumPy array called p_diffs

p_diffs = np.array(0)
new_page_converted = []
old_page_converted = []

for _ in range(10000):
    bootsamp2 = df2.sample(n_new, replace=True)
    new_page_converted = np.random.choice([0,1],n_new,[1-p_new,p_new])
    old_page_converted = np.random.choice([0,1],n_old,[1-p_old,p_old])
    diff = np.mean(new_page_converted) - np.mean(old_page_converted)
    p_diffs = np.append(p_diffs, diff)

In [47]:
#Plot a histogram of the p_diffs
plt.figure(figsize=(10,10))
sns.distplot(p_diffs, bins=10, kde=False, rug=True);

plt.xlabel('Mean Distribution', fontsize=20)
plt.title('Distributions of 10,000 samples at size of 145,300', fontsize=24)
plt.ylabel('Number of Samples', fontsize=20)
plt.xticks(fontsize=12)
plt.yticks(fontsize=12);

C:\Users\mushraf\AppData\Local\Temp\ipykernel_10320\1287367325.py:3: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(p_diffs, bins=10, kde=False, rug=True);

In [48]:
p_diffs = np.array(p_diffs)
null_vals = np.random.normal(0, p_diffs.std(), p_diffs.size)
plt.hist(null_vals);
plt.axvline(x=obs_diff, color='red');

In [49]:
                           #P VALUE
# Calculate the p-value 
# These are all the null values that are more extreme than our statistic in favor of our alternative

(null_vals > obs_diff).mean()

0.45425457454254575

In [50]:
#What proportion of the p_diffs are greater than the actual difference observed in ab_data.csv?

actual_new_conv = df2[df2.landing_page == 'new_page']['converted'].mean()
actual_old_conv = df2[df2.landing_page == 'old_page']['converted'].mean()

actual_diff = actual_new_conv - actual_old_conv

print(f"Actual difference in new & old conversion means: {actual_diff}")

Actual difference in new & old conversion means: -0.0015782389853555567

In [51]:
diff_prop = np.greater(p_diffs,actual_diff)

In [52]:
# Proportion of p_diffs that are greater than the actual difference observed in ab_data
diff_prop.mean()

0.8051194880511949

In [53]:
#Utilizing the ab_data, we set out to determine whether the null hypothesis, uP_new - uP_old <= 0, the mean conversion rate of the new webpage minus the mean conversation rate of the old webpage is less than or equal to 0. In other words, that the old and new webpages produce the same (or near same) conversation rates.The p-value calculated under heading p-value, indicates that 94% of all the null values are more extreme than our statistic in favor of the alternative.Therefore, we failed to reject the null hypothesis which essentially means there is not enough evidence to say that it is false.

In [54]:
              #z-test attempt as well as setup for stats.proportions_ztest
    
    
import statsmodels.api as sm

old_data = df2[df2.landing_page == 'old_page']['converted']
mu_convert_old = df2[df2.landing_page == 'old_page']['converted'].mean()
std_convert_old = df2[df2.landing_page == 'old_page']['converted'].std()

new_data = df2[df2.landing_page == 'new_page']['converted']
mu_convert_new = df2[df2.landing_page == 'new_page']['converted'].mean()
std_convert_new = df2[df2.landing_page == 'new_page']['converted'].std()

n_old = len(df2[df2.group == 'control'])
n_new = len(df2[df2.group == 'treatment'])

print(n_old,mu_convert_old,std_convert_old)
print(n_new,mu_convert_new,std_convert_new)

145274 0.1203863045004612 0.32541384592046235
145310 0.11880806551510564 0.3235636406750012

In [55]:
sm.stats.ztest(old_data,new_data,alternative='two-sided')

(1.3109235634981506, 0.18988358901317048)

In [56]:
mu_convert_old

0.1203863045004612

In [57]:
mu_convert_new

0.11880806551510564

In [58]:
# use stats.proportions_ztest to compute your test statistic and p-value. Here is a helpful link on using the built in

sm.stats.proportions_ztest(mu_convert_new * n_new, n_new, mu_convert_old, alternative='larger')

(-1.859354929150913, 0.9685115770700896)

In [59]:
#CONCLUSION Z - The z-score reveals that it is -1.9 standard deviations away from the mean. The p-value is even higher than our manual hypothesis testing and suggests that under the null hypothesis, the difference in the new & old conversion rates are 0, and is 97% in favor of our null **

In [60]:
                                           #REGRESSION TEST

In [61]:
#logitic regression
## create numerical dummy columns for the group categorical column

df2['intercept'] = 1
df2[['control','treatment']] = pd.get_dummies(df2['group'])
df2.head(1)

,user_id,timestamp,group,landing_page,converted,intercept,control,treatment
0,851104,2017-01-21 22:11:48.556739,control,old_page,0,1,True,False